#main #drumandbass {
    top: 0px;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    .logo-head {
        z-index: 90;
    }
    .logo-home {
        margin-bottom: 10px;
    }
    .sample-content {
        margin-top: 0.5%;
        height: 25%;
        position: relative;
        display: flex;
        justify-content: space-between;
        .scene-tuto {
            width: 100%;
            p {
                padding: 0 30px;
            }
        }
        .sample {
            width: 33%;
            background-color: #615574;
            h5 {
                text-align: center;
                color: white;
                font-size: 1.8em;
                text-transform: uppercase;
                margin: 13px 0;
            }
            .element-content {
                display: flex;
                justify-content: space-around;
                margin-bottom: 5%;
                .element {
                    display: flex;
                    color: #615574;
                    border-radius: 50%;
                    background-color: #FFF;
                    height: 6em;
                    width: 6em;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 0.5s, color 0.5s;
                    span {
                        font-size: 100%;
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 0 10px;
                    }
                }
                .highlight {
                    background-color: #6d6d6d;
                    color: #fff;
                }
                .deleteSample::before,
                .deleteSample::after {
                    position: absolute;
                    left: 2.5em;
                    content: ' ';
                    top: 1em;
                    height: 3em;
                    width: 3px;
                    background-color: rgba(51, 51, 51, 0.3);
                }
                .deleteSample::before {
                    transform: rotate(45deg);
                }
                .deleteSample::after {
                    transform: rotate(-45deg);
                }
                /* Petit souci : on peut pas cumuler l'after pour le .dropped ET pour le .deleteSample :| */
                .dropped::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -35px 0 0 -35px;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    content: '';
                    opacity: 0;
                    pointer-events: none;
                    box-shadow: 0 0 0 3px rgba(111, 148, 182, 0.05);
                    -webkit-animation: anim-dropped 0.5s ease-out forwards;
                    animation: anim-dropped 0.5s ease-out forwards;
                }
            }
        }
    }
    .scene-tuto {
        display: none;
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        width: 100%;
        position: absolute;
        //Greensock met de manière automatique un z-index à 1001 quand un élément commence à être drag
        z-index: 1600;
        border: 2px solid $futureBlue;
        p {
            top: 15%;
            padding: 10px;
            position: relative;
            line-height: 25px;
            b {
                margin: 10px 0;
                display: block;
            }
            span {
                font-weight: bold;
                margin-bottom: 20px;
                display: block;
                font-size: 2Opx;
            }
        }
    }
    .scene {
    display: flex;
    height: 70%;
    background: radial-gradient(circle closest-side at 50%, #ffffff -50%, #615574 200%);
    align-items: center;
    justify-content: center;
    position: relative;
        .tuto {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        z-index: 2000;
        cursor: pointer;
        background-image: url(/img/icon-help.svg);
        background-repeat: no-repeat;
    }
    #canvas-spectrum {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 40;
    }
    #canvas-particles {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 40;
    }
    .scene--bouncer {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        z-index: 60;
        position: relative;
    }
    .scene--bouncer-image {
        background: url('../img/DrumandbassPlay.png') center/contain no-repeat;
        width: 300px;
        height: 300px;
        position: absolute;
        border-radius: 100%;
        margin: 0 auto;
        z-index: 61;
    }
    .scene--bouncer-circle {
        background-color: #615574;
        width: 300px;
        height: 300px;
        position: absolute;
        border-radius: 100%;
        margin: 0 auto;
        z-index: 60;
    }
    .scene--bouncer-outline {
        right: -20px;
        top: -20px;
        width: 340px;
        height: 340px;
        position: absolute;
        border: 18px solid #615574;
        border-radius: 50%;
        margin: 0 auto;
        z-index: 60;
    }
    .scene--bouncer-outline-2 {
        right: -29px;
        top: -29px;
        width: 358px;
        height: 358px;
        position: absolute;
        border: 3px solid #615574;
        border-radius: 50%;
        margin: 0 auto;
        z-index: 60;
    }
    .scene--bouncer-outline-3 {
        right: -36px;
        top: -36px;
        width: 372px;
        height: 372px;
        position: absolute;
        border: 3px solid #615574;
        border-radius: 50%;
        margin: 0 auto;
        z-index: 60;
    }
    .drumandbass-forme {
        right: -90px;
        top: -90px;
        background: url('../img/DrumandbassForm.png') center/contain no-repeat;
        width: 480px;
        height: 480px;
        position: absolute;
        border-radius: 100%;
        margin: 0 auto;
        z-index: 49;
    }
    .scene--bouncer-outline-animated {
        animation: sceneBouncerBoom 0.428s infinite ease-out;
    }
}
}

@keyframes sceneBouncerBoom {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(.9);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes waveIsPulsing {
  0% {
    opacity: 1;
    transform: scale(.7);
  }
  100% {
    opacity: 0;
    transform: scale(1.4); }
}
@keyframes anim-dropped {
    0% {
        box-shadow: 0 0 0 3px rgba(111, 148, 182, 0.3);
        opacity: 1;
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
    }
    100% {
        box-shadow: 0 0 0 100px rgba(111, 148, 182, 0);
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}