#main #genre {
   background-color: #fff;
   text-align: center;
   height: 78%;
   .genre__container {
      height: 100%;
      .categories {
         float: left;
         width: 49%; height: 49%;
         background-color: $grey;
         margin: 1% 1% 0 0;
         display: flex;
         align-items: center;
      }
      .categories h2 {
         font-family: $brandon;
         font-size: 40px;
         color: $black;
         text-decoration: none;
         text-transform: uppercase;
         margin: 0 auto;
      }
   }
}