<section id="experience">
    <img src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique" width="120px">
    <div class="exp"></div>
    <div class="sample-content">
        <div class="sample drum">
            <h5>drum</h5>
            <div class="element-content">
                <div class="element">
                    <p>kick</p>
                </div>
                <div class="element">
                    <p>kick</p>
                </div>
                <div class="element">
                    <p>kick</p>
                </div>
            </div>
        </div>
        <div class="sample synths">
            <h5>synths</h5>
            <div class="element-content">
                <div class="element">
                    <p>kick</p>
                </div>
                <div class="element">
                    <p>kick</p>
                </div>
                <div class="element">
                    <p>kick</p>
                </div>
            </div>
        </div>
        <div class="sample fx">
            <h5>fx</h5>
            <div class="element-content">
                <div class="element">
                    <p>kick</p>
                </div>
                <div class="element">
                    <p>kick</p>
                </div>
                <div class="element">
                    <p>kick</p>
                </div>
            </div>
        </div>
    </div>
    <a href="/">Revenir à la home</a>
</section>
