<section id="future">
    <a href="/" class="logo-head"><img class="logo-home" src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique" width="120px"></a>

    <div class="scene">
        <div class="tuto">
        </div>
        <div class="scene-tuto">
            <p><span>Need some help ?</span>No worries ! We're here to help you !
                <br>
                <b>Here, you are on the drop zone.</b>
                <br> Drag the different pads (or samples) and drop them on this area to activate them. If you don’t like a sound, select the corresponding pad and drag it outside of the drop area. It will stop automatically. It’s time for you to have fun with the samples and create your own songs !
            </p>
        </div>
        <canvas id="canvas-particles"></canvas>
        <canvas id="canvas-spectrum"></canvas>
        <div class="scene--bouncer">
            <div class="scene--bouncer-image"></div>
            <div class="scene--bouncer-circle"></div>
            <div class="scene--bouncer-outline"></div>
            <div class="scene--bouncer-outline-2"></div>
            <div class="scene--bouncer-outline-3"></div>
            <div class="future-forme"></div>
        </div>
    </div>
    <div class="sample-content">
        <div class="scene-tuto">
            <p><b>This is the sample area</b> it is composed of three sub-areas : Drum, Synth and Fx Each zone contains 3 pads (or samples). Click on the sample of your choice and drag it to the drop area. It will start automatically once you have dropped it.</p>
        </div>
        <div class="sample drum">
            <h5>drum</h5>
            <div class="element-content">
                <div class="element" data-src="Future Drumkit 1.mp3">
                    <span>Drums 1</span>
                </div>
                <div class="element" data-src="Future Drumkit 2.mp3">
                    <span>Drums 2</span>
                </div>
                <div class="element" data-src="Future Drumkit 3.mp3">
                    <span>Drums 3</span>
                </div>
            </div>
        </div>
        <div class="sample synths">
            <h5>synths</h5>
            <div class="element-content">
                <div class="element" data-src="Future Synth 1.mp3">
                    <span>Synth 1</span>
                </div>
                <div class="element" data-src="Future Synth 2.mp3">
                    <span>Synth 2</span>
                </div>
                <div class="element" data-src="Future Synth 3.mp3">
                    <span>Synth 3</span>
                </div>
            </div>
        </div>
        <div class="sample fx">
            <h5>fx</h5>
            <div class="element-content">
                <div class="element" data-src="Future Fall Down.mp3">
                    <span>Fall Down</span>
                </div>
                <div class="element" data-src="Future Wololo.mp3">
                    <span>Wololo</span>
                </div>
                <div class="element" data-src="Future Signal.mp3">
                    <span>Signal</span>
                </div>
            </div>
        </div>
    </div>

</section>