<section id="genre">

    <a href="/"><img src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique" width="120px"></a>

    <div class="genre__container">
        <a href="/experience">
            <div class="categories">
                <canvas class="genre__canvas" id="genre__canvas1" width="420" height="140"></canvas>
            </div>
        </a>
        <a href="/experience">
            <div class="categories">
                <canvas class="genre__canvas" id="genre__canvas2" width="420" height="140"></canvas>
            </div>
        </a>
        <a href="/experience">
            <div class="categories">
                <canvas class="genre__canvas" id="genre__canvas3" width="420" height="140"></canvas>
            </div>
        </a>
        <a href="/experience">
            <div class="categories">
                <canvas class="genre__canvas" id="genre__canvas4" width="420" height="140"></canvas>
            </div>
        </a>
    </div>



</section>