<section id="genre">

    <a href="/"><img class="logo-home" src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique" width="120px"></a>

    <div class="genre__container">
        <a href="/experience">
            <div class="categories">
               <img class="genre__background__image" src="../img/FutureBackground.png" alt="Future music background">
                <canvas class="genre__canvas" id="genre__canvas1" width="420" height="140"></canvas>
                <img class="genre__image__name" src="../img/Future.png" alt="Future music style">
            </div>
        </a>
        <a href="/experience">
            <div class="categories">
                <img class="genre__background__image" src="../img/DubstepBackground.png" alt="Dubstep music background">
                <canvas class="genre__canvas" id="genre__canvas2" width="420" height="140"></canvas>
                <img class="genre__image__name" src="../img/Dubstep.png" alt="Dubstep music style">
            </div>
        </a>
        <a href="/experience">
            <div class="categories">
                <img class="genre__background__image" src="../img/DeephouseBackground.png" alt="Deephouse music background">
                <canvas class="genre__canvas" id="genre__canvas3" width="420" height="140"></canvas>
                <img class="genre__image__name" src="../img/Deephouse.png" alt="Deephouse music style">
            </div>
        </a>
        <a href="/experience">
            <div class="categories">
                <img class="genre__background__image" src="../img/DrumandbassBackground.png" alt="Drum and bass music background">
                <canvas class="genre__canvas" id="genre__canvas4" width="420" height="140"></canvas>
                <img class="genre__image__name" src="../img/Drumandbass.png" alt="Drum and bass music style">
            </div>
        </a>
    </div>



</section>