<section id="genre">

   <img src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique" width="120px">
   
   <div class="genre__container">
      <a href="/experience"><div class="categories"><h2>Future</h2></div></a>
      <a href="/experience"><div class="categories"><h2>Dubstep</h2></div></a>
      <a href="/experience"><div class="categories"><h2>Deephouse</h2></div></a>
      <a href="/experience"><div class="categories"><h2>Drum'n'bass</h2></div></a>
   </div>
   
	<a href="/">Revenir sur la home</a>

</section>