<section id="genre">

	<h2>Genre</h2>

  <br/>
  <em>Ici se trouve l'écran de selection des différents styles musicaux.</em>
  <br/>
	<a href="/experience">Aller sur l'experience</a>
  <br/>
	<a href="/">Revenir sur la home</a>

</section>