<section id="home">

	<div class="home__container">
      <img src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique">
      <p class="home__headline">Entraînez-vous à développer une ambiance musicale.</p>
      <a class="home__button" href="/genre">Start</a>
	</div>
	
	<div class="rounds">
	   <div class="round-1"></div>
      <div class="round-2"></div>
      <div class="round-3"></div>
      <div class="round-4"></div>
      <div class="round-5"></div>
	</div>
	
</section>