<section id="home">

	<div>
      <img src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique">
      <p class="titleHeadline">Entraînez-vous à développer une ambiance musicale.</p>
      <a class="button" href="/genre">Start</a>
	</div>
	
</section>