<section id="home">

	<div class="home__container">
      <img src="../img/TEMPOLOGO.gif" alt="Logo tempo création musique">
      <p class="home__headline">Train yourself at making a musical environment.</p>
      <div class="home__buttons">
      <a class="home__button" href="/genre">Start</a>
      <div class="home__tuto"><p>How does it work?</p></div>

      </div>
	</div>
	<div class="tutorial-popup">
        <div class="closetag">
            <div class="close"></div>
        </div>
        <div class="tutorial-content">
            <p>En attente de l'img.</p>
        </div>
	</div>
	<div class="rounds">
	   <div class="round-1"></div>
      <div class="round-2"></div>
      <div class="round-3"></div>
      <div class="round-4"></div>
      <div class="round-5"></div>
	</div>
	
</section>