<section id="loader">
  <div class="loader-animation">
    <div class="loader-outline"></div>
    <div class="loader-image"></div>
  </div>
  <h2>WE <i class="icon-love"></i><i class="icon-music"></i> AND <i class="icon-headphones"></i>
      <span>Alors, montez le son.</span></h2>
</section>